.movie-item {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .movie-item img {
    max-width: 150px;
    height: auto;
  }
  
  form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-top: 1rem;
  }
  
  form input, form select, form button {
    margin-top: 0.5rem;
  }
  